# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# --- Environments ---

bitB__env/
venv/
env/
.env

# --- Game Save Data ---
pet_stats.json


.DS_Store
Thumbs.db


.vscode/
.idea/